@import "reset";
@import "variables/global";
@import "themes/normal";

html {
    margin-right: calc(-1 * (100vw - 100%));
    overflow-x: hidden;
 }
.app{
    font-family: var(--font-family-main);
    font-weight: 800;
    color: var(--primary-color);
    background: var(--bg-color);
    min-height: 100vh;
    padding: 24px;
}

